
<div class="p-grid">
<div class="p-col">
<app-accessoire-prix></app-accessoire-prix>
</div>
</div>
<br> <br>
<div class="p-grid">
<div class="p-col">
    
<app-cabine-prix></app-cabine-prix>
</div></div> <br> <br>
<div class="p-grid">
<div class="p-col">
<app-type-porte-prix></app-type-porte-prix>
</div>
</div>
<br> <br>
<div class="p-grid">
    <div class="p-col">
        <app-charge-arret-prix></app-charge-arret-prix>
    </div>
    </div>
