<!-- 
<footer layout="row" class="md-padding">
    <mat-toolbar color="primary">
    <div>
      <h2 class="center">Footer</h2>
    </div>
    </mat-toolbar>
  </footer> -->
<!-- Footer -->
<footer>

  
    <!-- Copyright -->
    <div class="footer-copyright text-center darker-blue py-3" style="color:#fefeff;">Tous droits réservés © {{year}}:
      <a href="http://glv.ma/" style="color:#233D7E;"> GLV</a> -Installation, maintenance et modernisation d’ascenseurs, escaliers et trottoirs roulants.
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->