<div class="card">

  <h3 style="text-align:center ; font-size:25px; color: #333D7E; font-weight:500;">Liste des Prix "la charge Utile par rapport au nombre d'arrêts"</h3>


    <p-table #dt2 [value]="chargeArret" dataKey="id" [rows]="5" [showCurrentPageReport]="true"
             [rowsPerPageOptions]="[5,10,25]" [loading]="loading" styleClass="p-datatable-customers p-datatable-gridlines"
             [paginator]="true" currentPageReportTemplate="Afficher {first} à {last} de {totalRecords} entrées">
      
      <ng-template pTemplate="header">
        <tr>
          <th>
            <div class="p-d-flex p-jc-between p-ai-center">
              ID
            </div>
          </th>
          <th>
            <div class="p-d-flex p-jc-between p-ai-center">
             Charge Utile
            </div>
          </th>

          <th>
            <div class="p-d-flex p-jc-between p-ai-center">
             Nombre d'arrêts
            </div>
          </th>

          <th>
            <div class="p-d-flex p-jc-between p-ai-center">
              Tarifs
            </div>
          </th>
          <th>
            <div class="p-d-flex p-jc-between p-ai-center">
              Mettre à jour
            </div>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-chargeArret>
        <tr>
            <td>
              {{chargeArret.id}}
            </td>
            <td>
             {{chargeArret.charge.chargeUtile}}
            </td>
            <td>
                {{chargeArret.arret.nbArret}}
            </td>
            <td>
                {{chargeArret.prixCh| currency:'JPY':'' }} Dhs
            </td>

          <td  style="text-align:center">

            <button pButton type="button" style="margin : 5px" class="p-button-success p-button-rounded"  (click)="ModifierChargeArret(chargeArret)" icon="pi pi-pencil"></button>

          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="7">Aucun resultat trouvé.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>

