
<div class="card">


  <h3 style="text-align:center ; font-size:25px; color: #333D7E; font-weight:500;">Liste des Devis</h3>

  <p-table  #dt2 [value]="devis" dataKey="id" [rows]="10" [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[10,25,50]" [loading]="loading"
      [globalFilterFields]="['matricule','client.nom','adresse','status']"
      styleClass="p-datatable-customers p-datatable-gridlines"
      [paginator]="true" currentPageReportTemplate="Afficher {first} à {last} de {totalRecords} entrées">
      <ng-template pTemplate="caption">
        
          <div class="flex" >

              <span class="p-input-icon-left p-ml-auto">
                  <i class="pi pi-search"></i>
                  <input pInputText type="text" (input)="dt2.filterGlobal($event.target.value, 'contains')"
                      placeholder="Rechercher" />
              </span>
          </div>
      </ng-template>
      <ng-template pTemplate="header">
          <tr>
              <th>
                  <div class="p-d-flex p-jc-between p-ai-center">
                    Numéro de devis

                  </div>
              </th>
              <th>
                  <div class="p-d-flex p-jc-between p-ai-center">
                    Client
                  </div>
              </th>
              <th>
                  <div class="p-d-flex p-jc-between p-ai-center">
                    Date Devis
                  </div>
              </th>
              <th>
                  <div class="p-d-flex p-jc-between p-ai-center">
                    Adresse
                  </div>
              </th>

              <th>
                <div class="p-d-flex p-jc-between p-ai-center">
                    Prix 
                </div>
            </th>

              <th>
                  <div class="p-d-flex p-jc-between p-ai-center">
                      Status
                  </div>
              </th>
              <th>
                <div class="p-d-flex p-jc-between p-ai-center">
                les statut des devis
                </div>
            </th>
              <th>
                  <div class="p-d-flex p-jc-between p-ai-center">
                    Actions
                  </div>
              </th>
          </tr>
      </ng-template>

      <ng-template pTemplate="body" let-devis>
          <tr>
              <td>
                  {{devis.matricule}}
              </td>
              <td>
                  {{devis.client.nom}}
              </td>
              <td>
                  {{devis.dateDevis | date:'dd/MM/yyyy'}}
              </td>
              <td>
                  {{devis.client.adresse}}
              </td>
              <td>
                {{devis.prix | currency:'JPY':'' }} Dhs
            
            </td>
              <td>
                {{devis.etat}}
            </td>

              <td  style="text-align:center">
                
                                
                <button pButton type="button" *ngIf="devis.etat == 'En Attente'" (click)="confirmer(devis)" style="margin : 5px" class="p-button-rounded p-button-raised p-button-text"  label="Confirmer" icon="pi pi-eye"></button>
                <button pButton type="button" *ngIf="devis.etat == 'Confirmé'" (click)="retenir(devis)" style="margin : 5px"  class="  p-button-rounded p-button-success p-button-raised p-button-text " label="Retenir" icon="pi pi-check"></button>
                <button pButton type="button" *ngIf="devis.etat == 'Confirmé'" (click)="annuler(devis)" style="margin : 5px" class=" p-button-rounded p-button-danger p-button-raised p-button-text" label="Annuler" icon="pi pi-times"></button>
                <button pButton type="button" *ngIf="devis.etat == 'Validé'" (click)="cloturer(devis)" style="margin : 5px" class="p-button-rounded p-button-help p-button-raised p-button-text"  label="Clôturer" icon="pi pi-lock"></button>
                <button pButton type="button" *ngIf="devis.etat == 'Cloturé'"  style="margin : 5px" class="p-button-rounded p-button-help p-button-text" icon="pi pi-lock"></button>
                <button pButton type="button" *ngIf="devis.etat == 'Annulé'"  style="margin : 5px" class="p-button-rounded p-button-danger p-button-text" icon="pi pi-times"></button>
                  <br> <br>
                </td>

                <td  style="text-align:center">
                <button pButton type="button" [disabled]="devis.etat == 'Validé' || devis.etat == 'Annulé' || devis.etat == 'Cloturé'"
                          (click)="Modifier(devis)" style="margin : 5px" class="p-button-success p-button-rounded" icon="pi pi-pencil"></button>

                  <button pButton type="button" [disabled]="devis.etat == 'Validé' || devis.etat == 'Annulé' || devis.etat == 'Cloturé'"
                          (click)="Supprimer(devis.id)" style="margin : 5px" class="p-button-warning p-button-rounded" icon="pi pi-trash"></button>

                  <button pButton type="button" (click)="AfficherDetails(devis)" style="margin : 5px" class="p-button-info p-button-rounded" icon="pi pi-info-circle"></button>

              </td>
          </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
          <tr>
              <td colspan="7">Aucun devis trouvé.</td>
          </tr>
      </ng-template>
  </p-table>
</div>


   


<!---<div>

    <mat-form-field appearance="outline" class="top_right">
      <mat-label>Rechercher</mat-label>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Rechercher">
    </mat-form-field>

  <table mat-table [dataSource]="devis" class="mat-elevation-z8">



    <ng-container matColumnDef="matricule">
      <th mat-header-cell *matHeaderCellDef class="center_elems"> Matricule </th>
      <td mat-cell class="center_elems" *matCellDef="let element"> {{element.matricule}} </td>
    </ng-container>

    <ng-container matColumnDef="client">
      <th mat-header-cell *matHeaderCellDef class="center_elems"> Client </th>
      <td mat-cell *matCellDef="let element" class="center_elems"> {{element.client}} </td>
    </ng-container>

    <ng-container matColumnDef="dateDevis">
      <th mat-header-cell *matHeaderCellDef class="center_elems"> Date Devis </th>
      <td mat-cell *matCellDef="let element" class="center_elems"> {{element.dateDevis | date | uppercase}}  </td>
    </ng-container>

    <ng-container matColumnDef="adresse">
      <th mat-header-cell *matHeaderCellDef class="center_elems"> Adresse </th>
      <td mat-cell *matCellDef="let element" class="center_elems"> {{element.adresse | uppercase}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="center_elems"> Actions </th>
        <td mat-cell *matCellDef="let element" class="center_elems">
            <button mat-stroked-button (click)="Modifier(element)" class="btn btn-warning" style="margin-right: 10px;" >Modifier</button>
            <button mat-stroked-button (click)="Supprimer(element.id)" class="btn btn-danger" style="margin-right: 10px;">Supprimer</button>
            <button mat-stroked-button (click)="AfficherDetails(element)" class="btn btn-info">Détails</button>
        </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator class="mat-elevation-z8" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  <button mat-button routerLink="/welcome" class="btn btn-primary btn-lg" style="margin-top: 20px; margin-left: 45%;">
    Ajouter Un Devis
  </button>
</div>-->
