// div {
 ///@at-root   width: 80%;
   // position:absolute;
   // left:10%;
  //  top:10%;
    
 // }
//table {
 // width: 100%;
 // max-height: 500px;
 // min-height: 500px;
//}
//.top_right{
//float: right;
//}
//.center_elems{
 // text-align: center;
 // }

 .card{
  width: 95%; 
  margin: auto; 
  margin-top: 2%;
  padding: 20px;
 }