
<br />

<div class="invoice-box">
  <table>
    <tr class="top">
      <td colspan="2">
        <table>
          <tr>

            <td>
              Ascenseurs & Escaliers Roulants<br />
              www.glv.ma<br />

            </td>
            <td class="title">
              <img src="https://glvmaroc.netlify.app/assets/glvPictures/glv_logo.png" alt="GLV logo" style="width: 100%; max-width: 200px" />
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr class="information">
      <td>
        <table>
          <tr>
            <td>
              Offre commerciale n°:<br />
              Date : <br />
              Client : <br />
              Adresse :<br />
              Ville :<br />
            </td>


          </tr>
        </table>
      </td>
    </tr>

    <tr class="heading">
      <td style=" text-align: center">DIMENSIONS DE LA GAINE</td>

      <td></td>
    </tr>

    <tr class="details">
      <td>
        Type :<br />
        Largeur :<br />
        Profondeur :<br />
        Hauteur sous dalle :<br />
        Cuvette :<br />
        Local machinerie
      </td> <br />

      <td></td>
    </tr>

    <tr class="heading">
      <td style="text-align:center">CARACTERISTIQUES PRINCIPALES DE L'ASCENSEUR</td>

      <td></td>
    </tr>

    <tr class="item">
      <td>Provenance :</td>


    </tr>

    <tr class="item">
      <td>Normes et directives :</td>
    </tr>

    <tr class="item ">
      <td>Quantité :</td>
    </tr>
    <tr class="item ">
      <td>Charge Utile :</td>
    </tr>

    <tr class="item ">
      <td>Vitesse :</td>
    </tr>

    <tr class="item ">
      <td>Mode d'entrainement :</td>
    </tr>

    <tr class="item ">
      <td>Arrêts :</td>
    </tr>

    <tr class="item ">
      <td>Accès :</td>
    </tr>

    <tr class="item ">
      <td>Course :</td>
    </tr>

    <tr class="item ">
      <td>Type de manœuvre :</td>
    </tr>

    <tr class="total">
      <td></td>
    <tr class="heading">
      <td style="text-align:center">CARACTERISTIQUES DE LA CABINE</td>

      <td></td>
    </tr>

    <tr class="item">
      <td>Modèle</td>


    </tr>

    <tr class="item">
      <td>Finition : </td>
    </tr>

    <tr class="item">
      <td>Largeur : </td>
    </tr>

    <tr class="item">
      <td>Profondeur :</td>
    </tr>

    <tr class="item">
      <td>Hauteur :</td>
    </tr>
    <tr class="item">
      <td>Porte Cabine :</td>
    </tr>
    <tr class="heading">
      <td style="text-align:center">CARACTERISTIQUES DES PORTES PALIERES</td>
    <tr class="item">
      <td>Type de porte :</td>
    </tr>

    <tr class="item">
      <td>Finition :</td>
    </tr>

    <tr class="item">
      <td>Degré de résistance au feu : E-120 minutes selon norme EN 81-58 </td>
    </tr>

    <tr class="heading">
      <td style="text-align:center">SIGNALISATIONS ET ACCESSOIRES STANDARD</td>
    <tr class="item">
      <td>Indicateur de position en cabine type LCD bleu avec flèches de sens et de prochain départ</td>
    </tr>
    <tr class="item">
      <td>Voyant lumineux à LED pour l'enregistrement de l'appel </td>
    </tr>

    <tr class="item">
      <td>Plaque indiquant la charge autorisée</td>
    </tr>

    <tr class="item">
      <td> Bouton de réouverture </td>
    </tr>

    <tr class="item">
      <td> Eclairage de secours à 1h d'autonomie </td>
    </tr>

    <tr class="item">
      <td>Indicateur de position cabine à l'étage principal type LCD bleu </td>
    </tr>

    <tr class="item">
      <td>Sirène d'alarme électronique de 104 dB de puissance, actionnable par bouton dans la cabine</td>
    </tr>

    <tr class="item">
      <td>Boutons anti-vandales avec inscription braille pour les non-voyants </td>
    </tr>


    <tr class="item">
      <td>Eclairage de gaine </td>
    </tr>

    <tr class="item">
      <td>Echelle d'accès en cuvette </td>
    </tr>

    <tr class="item">
      <td>Rideau infrarouge et réouverture automatique sur obstacle </td>
    </tr>

    <tr class="item">
      <td>Ventilation naturelle de la cabine à travers les plinthes </td>
    </tr>


    <tr class="item">
      <td>Alimentation de secours de 12V pour sirène d'alarme et éclairage de secours </td>
    </tr>


    <tr class="item">
      <td>Protection de tous les éléments tournants au local machinerie</td>
    </tr>


    <tr class="item">
      <td>Balustrade de protection sur le toit de la cabine</td>
    </tr>



    <td></td>

    <tr class="heading">
      <td style="text-align:center">CONDITIONS DE VENTE</td>

      <td></td>
    </tr>

    <tr>


    </tr>

    <tr class="item">
      <td><span style="font-weight: bold; text-decoration: underline">Validité de l'offre:</span> Cette offre
        commerciale est valable au </td>
    <tr class="item">
      <td><span style="font-weight: bold; text-decoration: underline">Conditions de paiement:</span> <br>
        40% à la commande et signature du présent devis <br>
        20% à la pose des guides et portes <br>
        30% à la livraison du complément du matériel <br>
        10% à la mise en marche et réception<br>
      </td>
    </tr>
    <tr class="item">
      <td><span style="font-weight: bold; text-decoration: underline">Mode de paiement:</span> <br>
        Les paiements s’effectuent sans escompte par chèque bancaire ou par virement
      </td>
    </tr>

    <tr class="item">
      <td> <span style="font-weight: bold; text-decoration: underline">Délai de livraison:</span> de la date du
        signature du présent devis, règlement du 1er acompte de commande et confirmation des choix de finition et
        couleur de la cabine, et si le délai de livraison coïncide avec la période de fermeture de notre usine pour
        congés annuel, à savoir quatre semaines en août et deux semaines en décembre, notre délai serait prolongé
        respectivement de la même durée de fermeture de notre fournisseur </td>
    </tr>
    <tr class="item">
      <td><span style="font-weight: bold; text-decoration: underline">Durée d'installation</span> <br>
        6 semaines par appareil, à condition que tous les travaux préparatoires soient réalisés tels qu'une gaine complètement aménagée et propre, local machinerie fermé, disponibilité d'un courant stable de 380V, mise à disposition d'un local fermé d'une superficie de 20 m² à côté de la gaine pour le stockage de notre matériel, etc.…
      </td>

      <td></td>
    </tr>




    <tr class="item">
      <td><span style="font-weight: bold; text-decoration: underline">Réception et contrôle technique:</span> Avant la
        mise en marche, il sera procédé à une vérification technique de l'appareil par un organisme de contrôle agréé
        par l'état dont les frais sont à la charge de la société GLV, cette dernière est considérée comme réception
        définitive de l'appareil </td>

    <tr class="item">
      <td><span style="font-weight: bold; text-decoration: underline">Garantie:</span> 01 année contre tout vice de
        matière ou fabrication à partir de la date de réception sous réserve, l'entretien de l'appareil par nos soins,
        les défectuosités résultant d'une mauvaise manipulation ou utilisation anormale ne sont pas compris dans la
        garantie. L'intervention d'une personne ou société tiers sur l’appareil en question suspend immédiatement
        cette garantie.</td>
    <tr class="item">
      <td><span style="font-weight: bold; text-decoration: underline">Entretien:</span> la mise en marche, il sera
        signé un contrat d'entretien annuel dont les premiers 06 mois sont gratuits.
      </td>

    </tr> <br/> <br/>
    <table style="width:70%; margin: auto; border: 1px solid black; border-collapse: collapse;">

      <tr>
        <th style="border: 1px solid black; border-collapse: collapse; padding: 5px;text-align: left;">Montant Unitaire H.T</th>
        <td style="border: 1px solid black; border-collapse: collapse; padding: 5px;text-align: left;">$50</td>
      </tr>
      <tr>
        <th style="border: 1px solid black; border-collapse: collapse; padding: 5px;text-align: left;">Montant Total H.T</th>
        <td style="border: 1px solid black; border-collapse: collapse; padding: 5px;text-align: left;">$100</td>
      </tr>
      <tr>
        <th style="border: 1px solid black; border-collapse: collapse; padding: 5px;text-align: left;">T.V.A 20%</th>
        <td style="border: 1px solid black; border-collapse: collapse; padding: 5px;text-align: left;">$50</td>
      </tr>
      <tr>
        <th style="border: 1px solid black; border-collapse: collapse; padding: 5px;text-align: left;">Montant T.T.C</th>
        <td style="border: 1px solid black; border-collapse: collapse; padding: 5px;text-align: left;">$50</td>
      </tr>
    </table>

    <tr class="heading">
      <td style="text-align:center">SIGNATURES</td>

      <br /><br />
      <table style="width:60%; margin: auto;text-align:center;">

        <tr style="width:60%">
          <th>GLV s.a.r.l</th>
          <th>Ste: </th>
        </tr>
        <tr style="width:60%">
          <td>Responsable commercial</td>
          <td>Lu et approuvé</td>
        </tr>
        
      </table>
      
  </table>

</div>

