<div class="card">

  <h3 style="text-align:center ; font-size:25px; color: #333D7E; font-weight:500;">Liste des Utilisateurs</h3>


  <p-table #dt2 [value]="users" dataKey="id" [rows]="10" [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10,25,50]" [loading]="loading" styleClass="p-datatable-customers p-datatable-gridlines"
    [globalFilterFields]="['nom','prenom','username','role','email']"
    [paginator]="true" currentPageReportTemplate="Afficher {first} à {last} de {totalRecords} entrées">
    <ng-template pTemplate="caption">
    
      <div class="p-d-flex">
      
        <span class="p-input-icon-left p-ml-auto">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="dt2.filterGlobal($event.target.value, 'contains')"
            placeholder="Rechercher" />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        
        <th>
          <div class="p-d-flex p-jc-between p-ai-center">
            Nom
          </div>
        </th>
        <th>
          <div class="p-d-flex p-jc-between p-ai-center">
            Prenom
          </div>
        </th>
        <th>
          <div class="p-d-flex p-jc-between p-ai-center">
            Nom d'utilisateur
          </div>
        </th>
       
        <th>
          <div class="p-d-flex p-jc-between p-ai-center">
            Rôle
          </div>
        </th>

        <th>
          <div class="p-d-flex p-jc-between p-ai-center">
            Email
          </div>
        </th>
        <th>
          <div class="p-d-flex p-jc-between p-ai-center">
            Actions
          </div>
        </th>
             </tr>
    </ng-template>
    <ng-template pTemplate="body" let-utilisateur>
      <tr>
     
        <td>
          {{utilisateur.nom}}
        </td>
        <td>
          {{utilisateur.prenom}}
        </td>
        <td>
          {{utilisateur.username}}
        </td>
       
        <td>
          {{utilisateur.role.role}}
        </td>

        <td>
          {{utilisateur.email}}
        </td>
        <td  style="text-align:center">
                
          <button pButton type="button" style="margin : 5px" class="p-button-success p-button-rounded"  (click)="Modifier(utilisateur)" icon="pi pi-pencil"></button>
          <button pButton type="button" style="margin : 5px" class="p-button-warning p-button-rounded"  (click)="Supprimer(utilisateur.id)" icon="pi pi-trash"></button>
       

      </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="7">Aucun utilisateur trouvé.</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<!--div>
 
    <mat-form-field appearance="outline" class="top_right">
      <mat-label>Rechercher</mat-label>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Rechercher">
    </mat-form-field>

  <table mat-table [dataSource]="users" class="mat-elevation-z8">


<ng-container matColumnDef="nom">
      <th mat-header-cell *matHeaderCellDef class="center_elems"> Nom </th>
      <td mat-cell class="center_elems" *matCellDef="let element"> {{element.nom}} </td>
    </ng-container>
  
    <ng-container matColumnDef="prenom">
      <th mat-header-cell *matHeaderCellDef class="center_elems"> Prenom </th>
      <td mat-cell *matCellDef="let element" class="center_elems"> {{element.prenom}} </td>
    </ng-container>
  
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef class="center_elems"> Login </th>
      <td mat-cell *matCellDef="let element" class="center_elems"> {{element.username}}  </td>
    </ng-container>
  
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef class="center_elems"> Email </th>
      <td mat-cell *matCellDef="let element" class="center_elems"> {{element.email}} </td>
    </ng-container>
  
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="center_elems"> Actions </th>
        <td mat-cell *matCellDef="let element" class="center_elems"> 
            <button mat-stroked-button (click)="Modifier(element)" class="btn btn-warning" style="margin-right: 10px;">Modifier</button>
            <button mat-stroked-button (click)="Supprimer(element.id)" class="btn btn-danger" style="margin-right: 10px;">Supprimer</button>
            <button mat-stroked-button (click)="AfficherDetails(element)" class="btn btn-info">Détails</button>
        </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator class="mat-elevation-z8" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  <button mat-button routerLink="/addUser/0" class="btn btn-primary btn-lg" style="margin-top: 20px; margin-left: 45%;">
    Ajouter Un Utilisateur
  </button>
</div> -->