
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<p style="padding-top: 50px; text-align: center;font-size: 50px;">Types d'Istallation</p>
<div  class="wrapper">
 
  <div class="parent" onclick="" >
    <div class="child bg-one" routerLink="/GLV/primary-module/formP/1">
      <a>Ascenseur</a>
    </div>
  </div>

  <div class="parent right" onclick="">
    <div class="child bg-two">
      <a href="#">Monte Charge</a>
    </div>
  </div>

  <div class="parent" onclick="">
    <div class="child bg-three">
      <a href="#">Monte Plats</a>
    </div>
  </div>

  <div class="parent right" onclick="">
    <div class="child bg-four">
      <a href="#">Mini Monte Charge</a>
    </div>
  </div>

  <div class="parent" onclick="">
    <div class="child bg-five">
      <a href="#"> Monte Malades</a>
    </div>
  </div>

  <div class="parent right" onclick="">
    <div class="child bg-six">
      <a href="#">Platefome Hydraulique</a>
    </div>
  </div>

  <div class="parent" onclick="">
    <div class="child bg-seven">
      <a href="#">Homelif EPMR</a>
    </div>
  </div>

  <div class="parent right" onclick="">
    <div class="child bg-eight">
      <a href="#">Monte Voiture</a>
    </div>
  </div>
</div>
