 .center-things{
    display: flex;
    //justify-content: center;
    align-items: center;
    height:400px ;   
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    margin: 20px;
    margin-left: 70px;
    margin-right: 70px;

}

.font-change{
    font-weight: bold;
    font-size: large;
	color:white;
   
}
.infos-button{
    position:relative;
     top:0;
      right:0;
}
.card { 
    cursor: pointer;
} 
// ////// 

html, body {margin:0px; padding: 0px;}

nav {
    background-color: #34495e;
    height: 80px;
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 999;
}

#logo {height: 80px; margin-left: 20px;}

.wrapper {
    padding: 50px 50px;
    max-width: 1200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}
p{
    font-size: 30px;
}
.right {float: right !important;}
/* Image zoom on hover + Overlay colour */
.parent {
    width: 45%;
    margin: 20px;
    height: 300px;
    border: 1px solid blue;
    overflow: hidden;
    position: relative;
    float: left;

  cursor: pointer;
}

.child {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

/* Several different images */

.bg-one {background-image: url(https://www.opis-ascenseurs.com/backend/models/slider/img/47606-19-07-07.jpg);}
.bg-two {background-image: url(https://www.pop-industrie.com/uploads/attachements//monte-charge-hydraulique-de-marchandises-2077.jpg);}
.bg-three {background-image: url(https://sraal.com/wp-content/uploads/2015/08/monte-plats3.jpg);}
.bg-four {background-image: url(https://www.monte-escaliers-alsace.fr/wp-content/uploads/2018/10/PAV-Tribunal-de-Belfort-7.jpg);}
.bg-five {background-image: url(https://www.dipascenseurs.fr/public/img/big/dipascenseurs-creation-et-modernisation-ascenseurs5809b8e6516e5.jpg);}
.bg-six {background-image: url(http://glv.ma/wp-content/uploads/2018/11/Home_HeroImages_TWIN_2000x832.jpg);}
.bg-seven {background-image: url(http://glv.ma/wp-content/uploads/2019/04/inaki-del-olmo-598169-unsplash.jpg);}
.bg-eight {background-image: url(http://glv.ma/wp-content/uploads/2019/04/Beautiful-Elevator-HD-Wallpaper.jpg);}


a {
    display: none;
    font-size: 35px;
    color: #ffffff !important;
    font-family: sans-serif;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 50px;
    cursor: pointer;
    /*text-decoration: none;*/
}

.parent:hover .child, .parent:focus .child {
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.parent:hover .child:before, .parent:focus .child:before {
    display: block;
}

.parent:hover a, .parent:focus a {
    display: block;
}

.child:before {
    content: "";
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(52,73,94,0.75);
}

/* Media Queries */
@media screen and (max-width: 960px) {
    .parent {width: 100%; margin: 20px 0px}
    .wrapper {padding: 20px 20px;}
}




.hello {display: none}