<div class="center-card">
    <mat-card class="center-card container-lg border" >
      <mat-card-title style="padding: 20px;">
              Ajouter un Utilisateur
            </mat-card-title>
            <mat-card-content>
              <div class="alert alert-warning" *ngIf="formUser.dirty && formUser.invalid">Veuillez Renseigner tous les champs</div>
              <div class="alert alert-warning" *ngIf="loginExistant">{{WarnMsg}}</div>
              <div class="alert alert-warning" *ngIf="EmailExistant">{{WarnMsg}}</div>
              <!-- <div class="alert alert-warning" *ngIf="course.dirty && course.invalid">Course est un champs de type numérique</div>
              <div class="alert alert-warning" *ngIf="hauteur.dirty && hauteur.invalid">Hauteur est un champs de type numérique</div>
              <div class="alert alert-warning" *ngIf="cuvette.dirty && cuvette.invalid">Cuvette est un champs de type numérique</div> -->
              <form  #formUser="ngForm" >
                <div class="row">
                  <mat-form-field appearance="outline" class="col">
                    <mat-label>Nom De l'utilisateur</mat-label>
                    <input matInput [(ngModel)]="user.nom" name="nom" required>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="col">
                      <mat-label>Prénom De l'utilisateur</mat-label>
                      <input matInput [(ngModel)]="user.prenom" name="prenom" required>
                  </mat-form-field>
              </div>
              <div class="row">
                <mat-form-field appearance="outline" class="col">
                    <mat-label>Login De l'utilisateur</mat-label>
                    <input matInput [(ngModel)]="user.username" name="username" required>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="col">
                      <mat-label>Mot de passe De l'utilisateur</mat-label>
                      <input matInput type="password" [(ngModel)]="user.password" name="password" required>
                  </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field appearance="outline" class="col">
                    <mat-label>Email De l'utilisateur</mat-label>
                    <input matInput [(ngModel)]="user.email" name="email" required>
                </mat-form-field>
                <mat-form-field appearance="outline" class="col">
                  <mat-label>Rôle</mat-label>
                  <select matNativeControl [(ngModel)]="user.role.id" name="role" required>
                    <option *ngFor="let val of role" [value]="val.id">{{val.role}}</option>
                  </select>
              </mat-form-field>
            </div>


        </form>
            </mat-card-content>
            <mat-card-footer style="padding: 20px;">
              <button style="margin:7px" mat-stroked-button (click)="!formUser.invalid && submit()" class="btn-color">{{btnname}}</button>
              <button mat-raised-button color="warn" routerLink="/GLV/primary-module/listUsers" >Annuler</button>
            </mat-card-footer>
    </mat-card>
    </div>
