<div class="card">


    <h3 style="text-align:center ; font-size:25px; color: #333D7E; font-weight:500;">Liste des Clients</h3>

    <p-table #dt1 [value]="clients" dataKey="id" [rows]="10" [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10,25,50]" [loading]="loading" styleClass="p-datatable-customers p-datatable-gridlines"
        [globalFilterFields]="['nom','type','adresse','pays','email']"
        [paginator]="true" currentPageReportTemplate="Afficher {first} à {last} de {totalRecords} entrées">
        <ng-template pTemplate="caption">
            
           <div class="p-d-flex">
              
                <span class="p-input-icon-left p-ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')"
                        placeholder="Rechercher" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Nom

                    </div>
                </th>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Type 
                    </div>
                </th>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Adresse 
                    </div>
                </th>
                
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Pays
                    </div>
                </th>
               
               

                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        GSM
                    </div>
                </th>

                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Fax
                    </div>
                </th>

                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Email
                    </div>
                </th>
                <th>
            
                    <div class="p-d-flex p-jc-between p-ai-center">
                       Options
                    </div>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-client>
            <tr>
                <td>
                    {{client.nom}}
                </td>

                <td>
                    {{client.type}}
                </td>
                <td>
                    {{client.adresse}}
                </td>
                
                <td>
                    {{client.pays}}
                </td>
               
        
                <td>
                    {{client.gsm}}
                </td>
                <td>
                    {{client.fax}}
                </td>
                <td>
                    {{client.email}}
                </td>
                
               
                          
                <td  style="text-align:center">
                
                    
                    <button pButton type="button" (click)="Supprimer(client.id)" style="margin : 5px" class="p-button-danger p-button-rounded" icon="pi pi-trash"></button>
                    <button pButton type="button" (click)="AfficherDetails(client)" style="margin : 5px" class="p-button-info p-button-rounded" icon="pi pi-info-circle"></button>

                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="7">Aucun client trouvé.</td>
            </tr>
        </ng-template>
    </p-table>
</div>
