<div class="card">
  <h3 style="text-align:center ; font-size:25px; color: #333D7E; font-weight:500;">Liste des Cabines</h3>

  <p-table #dt2 [value]="cabine" dataKey="id" [rows]="5" [showCurrentPageReport]="true"
           [rowsPerPageOptions]="[5,10,25]" [loading]="loading" styleClass="p-datatable-customers p-datatable-gridlines"
           [paginator]="true" currentPageReportTemplate="Afficher {first} à {last} de {totalRecords} entrées">
   
    <ng-template pTemplate="header">
      <tr>
        <th>
          <div class="p-d-flex p-jc-between p-ai-center">
            ID
          </div>
        </th>
        <th>
          <div class="p-d-flex p-jc-between p-ai-center">
            Label
          </div>
        </th>
        <th>
          <div class="p-d-flex p-jc-between p-ai-center">
            Provenance
          </div>
        </th>
        <th>
          <div class="p-d-flex p-jc-between p-ai-center">
            Tarifs
          </div>
        </th>
        <th>
          <div class="p-d-flex p-jc-between p-ai-center">
            Mettre à jour
          </div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-cabine>
      <tr>
        <td>
          {{cabine.id}}
        </td>
        <td>
          {{cabine.modelCabine}}
        </td>
        <td>
          {{cabine.provenance}}
        </td>
        <td>
          {{cabine.prix| currency:'JPY':'' }} Dhs
        </td>
        <td  style="text-align:center">

          <button pButton type="button" style="margin : 5px" class="p-button-success p-button-rounded"  (click)="Modifier(cabine)" icon="pi pi-pencil"></button>

        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="5">Aucun resultat trouvé.</td>
      </tr>
    </ng-template>
  </p-table>
</div>

