.example-spacer {
  flex: 1 1 auto;
}
.mat-toolbar.mat-primary {
  background: #007bff;
  color: #fff;
}
.wrapper {
  min-height: 100%;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -200px;
}
.textColor{
  color: #007bff;
}
::ng-deep .p-menubar {
  padding: 0.5rem ;
    background: #ffffff;
    color: #333333;
    border: 1px solid #c8c8c8;
    border-radius: 3px;
}
@page { margin: 0; }