
<p-menubar [model]="items">
  <ng-template pTemplate="start">
    <img src="./assets/Menu/glv_logo.png" height="50" class="mr-2">
  </ng-template>


  <button pButton pRipple label="Déconnexion" icon="pi pi-fw pi-sign-out" (click)="logout()" class="p-button-rounded p-button-danger"></button>
</p-menubar>

<main><router-outlet></router-outlet></main>
<app-footer></app-footer>

