

/* .btn-color{
    background: #469DD1;
    color: #fff;

} */
.login-wrapper{height:100%;}
.box{
  background: rgba(230, 227, 213, 0.756);
  box-shadow: 0 15px 25px rgba(126, 102, 102, 0.5);
  position:relative;
  top:0;
  opacity:1;
  float:left;
  padding:60px 50px 40px 50px;
  width:100%;
  border-radius:10px;
  transform:scale(1);-webkit-transform:scale(1);
  -ms-transform:scale(1);
  z-index:5;
  max-width:530px;}
.login-wrapper .full-width,.login-wrapper .btn-block{width:100%;}
.login-wrapper mat-card-header{text-align:center;width:100%;display:block;font-weight:700;}
.login-wrapper mat-card-header mat-card-title{font-size:30px;margin:0;}
.login-wrapper .mat-card{padding:40px 70px 50px;}
mat-drawer-container{background-image:url('../../assets/Acceuil/pic1.jpg');background-position:center;background-size:cover;background-repeat:no-repeat;min-height:100vh;font-family:'Roboto', sans-serif;}
.login-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../../assets/Acceuil/LogPic.png")no-repeat center center;
    background-size: cover;

}
.dimPage{
  background: rgba(0,0,0,.5) ;
  width:100%;
  height:100%;
  position:fixed;
  align-items: center;
  top:0;
  left: 0;
  z-index:999;

}
@media (max-width: 600px) {
  .prog {
     width: 90%;
    
  }
  .cen{
      position: absolute;
      top:45%;
      left: 38.5%;
  }
}
@media (min-width: 610px)
{  .cen {
  position: absolute;
  top:50%;
  left: 45%;
}}
