<p-toast></p-toast>
<div *ngIf="showloader" class="dimPage">
  <p-progressSpinner class="cen"></p-progressSpinner>
</div>

<div class="login-wrapper">

<mat-card class="box prog">

    <mat-card-header style="margin-bottom:40px;">
    </mat-card-header>
    <div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMsg}}</div>

    

        <mat-card-title  style="color: #333D7E; text-align: center; font-size: 30px; ">Bienvenue</mat-card-title>
        <br><br>
      
      <form autocomplete="off" class="example-form">

    <mat-form-field appearance="outline" class="full-width">
        <mat-label>Login</mat-label>
        <input matInput placeholder="Login" [(ngModel)]="username" name="username" required>
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Mot De Passe</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" placeholder="Mot de passe" [(ngModel)]="password" name="password" required>
       
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon style="color: #333D7E;">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <mat-card-footer  style="text-align:center">
        <button pButton (click)="handleLogin()" type="button" color="primary" >Se connecter</button>
         
       </mat-card-footer>

    </form>
</mat-card>
</div>
