<div class="card">

  <h3 style="text-align:center ; font-size:25px; color: #333D7E; font-weight:500;">Liste des Prix des Accessoires</h3>


  <p-table #dt2 [value]="accessoire" dataKey="id" [rows]="5" [showCurrentPageReport]="true"
           [rowsPerPageOptions]="[5,10,25]" [loading]="loading" styleClass="p-datatable-customers p-datatable-gridlines"
           [paginator]="true" currentPageReportTemplate="Afficher {first} à {last} de {totalRecords} entrées">
   
    <ng-template pTemplate="header">
      <tr>
        <th>
          <div class="p-d-flex p-jc-between p-ai-center">
            ID
          </div>
        </th>
        <th>
          <div class="p-d-flex p-jc-between p-ai-center">
            Label
          </div>
        </th>
        <th>
          <div class="p-d-flex p-jc-between p-ai-center">
            Tarifs
          </div>
        </th>

        <th>
          <div class="p-d-flex p-jc-between p-ai-center">
           Mettre à jour
          </div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-accessoire>
      <tr>
        <td>
          {{accessoire.id}}
        </td>
        <td>
          {{accessoire.label}}
        </td>
        <td>

          {{accessoire.prixA | currency:'JPY':''}} Dhs

        </td>
        <td  style="text-align:center">

          <button pButton type="button" style="margin : 5px" class="p-button-success p-button-rounded"
                  (click)="ModifierAccessoire(accessoire)" icon="pi pi-pencil"></button>

        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="4">Aucun resultat trouvé.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
