
<h1 style=" text-align: center; color:blueviolet;text-decoration: underline;"> Detail du devis N°: {{devis.matricule}} </h1>
<br> <br> <br>

<div class="row pv-lg">
  <div class="col-lg-2"></div>
  <div class="col-lg-8">
      <form class="form-horizontal ng-pristine ng-valid">
          <div class="form-group row">
              <label class="col-sm-3 col-form-label" style=" font-weight: bold" > Client:</label>
              <div class="col-sm-9">
                  <input class="form-control" type="text" name="name" id="name" [value]="devis.client.nom" disabled>

                  
              </div>
          </div>

          <div class="form-group row">
              <label class="col-sm-3 col-form-label" style=" font-weight: bold">Date Devis:</label>
              <div class="col-sm-9">
                  <input class="form-control" type="text" name="name" id="name" [value]="devis.dateDevis | date:'dd/MM/yyyy'" disabled>
              </div>
          </div>

          <div class="form-group row">
              <label class="col-sm-3 col-form-label" style=" font-weight: bold"> Type d'install:</label>
              <div class="col-sm-9">
                  <input class="form-control" type="text" name="name" id="name" [value]="devis.typeInstall" disabled>
              </div>
          </div>
          <div class="form-group row">
              <label class="col-sm-3 col-form-label" style=" font-weight: bold">Nombre d'arrêts:</label>
              <div class="col-sm-9">
                  <input class="form-control" type="text" name="name" id="name" [value]="devis.chargeArrets.arret.nbArret" disabled>
              </div>
          </div>
          <div class="form-group row">
              <label class="col-sm-3 col-form-label" style=" font-weight: bold" > Hauteur sous dalle:</label>
              <div class="col-sm-9">
                  <input class="form-control" type="text" name="name" id="name" [value]="devis.hauteurSousDalle" disabled>
              </div>
          </div>


          <div class="form-group row">
            <label class="col-sm-3 col-form-label" style=" font-weight: bold" > Type de gaine:</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" name="name" id="name" [value]="devis.typeGaine" disabled>
            </div>
        </div>



        <div class="form-group row">
            <label class="col-sm-3 col-form-label" style=" font-weight: bold" > Usage:</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" name="name" id="name" [value]="devis.usageAsc" disabled>
            </div>
        </div>


        <div class="form-group row">
            <label class="col-sm-3 col-form-label" style=" font-weight: bold" > Type de manœuvre:</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" name="name" id="name" [value]="devis.typeManoeuvre" disabled>
            </div>
        </div>


        <div class="form-group row">
            <label class="col-sm-3 col-form-label" style=" font-weight: bold" > Alimentation Moteur / éclairage:</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" name="name" id="name" [value]="devis.alimentationMoteur" disabled>
            </div>
        </div>



        <div class="form-group row">
            <label class="col-sm-3 col-form-label" style=" font-weight: bold" > Plafond:</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" name="name" id="name" [value]="devis.plafond" disabled>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 col-form-label" style=" font-weight: bold" > Sol:</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" name="name" id="name" [value]="devis.sol" disabled>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 col-form-label" style=" font-weight: bold" > A ouverture:</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" name="name" id="name" [value]="devis.ouverture" disabled>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 col-form-label" style=" font-weight: bold" > Plafond:</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" name="name" id="name" [value]="devis.plafond" disabled>
            </div>
        </div>


          <div class="form-group row">
              <label class="col-sm-3 col-form-label" style=" font-weight: bold"> Mode d'entrainement:</label>
              <div class="col-sm-9">
                  <input class="form-control" type="text" name="name" id="name" [value]="devis.modeEntrainement" disabled>
              </div>
          </div>

          <div class="form-group row">
              <label class="col-sm-3 col-form-label" style=" font-weight: bold">Acces à l'assenceur:</label>
              <div class="col-sm-9">
                  <input class="form-control" type="text" name="name" id="name" [value]="devis.acces" disabled>
              </div>
          </div>

          <div class="form-group row">
              <label class="col-sm-3 col-form-label"style=" font-weight: bold" >Dimension cabine:</label>
              <div class="col-sm-9">
                  <input class="form-control" type="text" name="name" id="name" [value]="devis.chargeArrets.charge.dimensionCabine" disabled>
              </div>
          </div>
          <div class="form-group row">
              <label class="col-sm-3 col-form-label" style=" font-weight: bold" >Longeur de gaine :</label>
              <div class="col-sm-9">
                  <input class="form-control" type="text" name="name" id="name" [value]="devis.dimensionGaineP" disabled>
              </div>
          </div>

          <div class="form-group row">
              <label class="col-sm-3 col-form-label" style=" font-weight: bold">Largeur de gaine:</label>
              <div class="col-sm-9">
                  <input class="form-control" type="text" name="name" id="name" [value]="devis.dimensionGaineL" disabled>
              </div>
          </div>

          <div class="form-group row">
              <label class="col-sm-3 control-label" for="inputContact2" style=" font-weight: bold">Dimensions des portes:</label>
              <div class="col-sm-9">
                  <input class="form-control" id="inputContact2" type="email" [value]="devis.chargeArrets.charge.passagePorte" disabled>
              </div>
          </div>
          <div class="form-group row">
              <label class="col-sm-3 control-label" for="inputContact3" style=" font-weight: bold">Finition assensseur:</label>
              <div class="col-sm-9">
                  <input class="form-control" id="inputContact3" type="text"[value]="devis.finition" disabled>
              </div>
          </div>


          <div class="form-group row">
              <label class="col-sm-3 col-form-label" style=" font-weight: bold">Course:</label>
              <div class="col-sm-9">
                  <input class="form-control" type="text" name="name" id="name" [value]="devis.course" disabled>
              </div>
          </div>



          <div class="form-group row">
              <label class="col-sm-3 control-label" for="inputContact5" style=" font-weight: bold">Vitesse:</label>
              <div class="col-sm-9">
                  <input class="form-control" id="inputContact5" type="text" [value]="devis.vitesse" disabled>
              </div>
          </div>
          <div class="form-group row">
              <label class="col-sm-3 control-label" for="inputContact7" style=" font-weight: bold">Cuvette:</label>
              <div class="col-sm-9">
                  <input class="form-control" id="inputContact7" type="text" [value]="devis.cuvette" disabled>
              </div>
          </div>

          <div class="form-group row">
              <label class="col-sm-3 col-form-label" style=" font-weight: bold">Local machinerie:</label>
              <div class="col-sm-9">
                  <input class="form-control" type="text" name="name" id="name" [value]="devis.localMachinerie" disabled>

              </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label" style=" font-weight: bold">Charge utile:</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" name="name" id="name" [value]="devis.chargeArrets.charge.chargeUtile" disabled>

            </div>
        </div>


        <div class="form-group row">
          <label class="col-sm-3 col-form-label" style=" font-weight: bold"> Modèle d'assensseur:</label>
          <div class="col-sm-9">
              <input class="form-control" type="text" name="name" id="name" [value]="devis.cabine.modelCabine" disabled>

          </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-3 col-form-label" style=" font-weight: bold">Profendeur de gaine:</label>
        <div class="col-sm-9">
            <input class="form-control" type="text" name="name" id="name" [value]="devis.dimensionGaineP" disabled>

        </div>
    </div>


    <div class="form-group row">
      <label class="col-sm-3 col-form-label" style=" font-weight: bold">Passage libre:</label>
      <div class="col-sm-9">
          <input class="form-control" type="text" name="name" id="name" [value]="devis.passage" disabled>

      </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-3 col-form-label" style=" font-weight: bold"> Accesoire:</label>
    <div class="col-sm-9">
      <div *ngFor="let a of devis.accessoires">
        <input type="text" name="name" id="name" [value]="a.label" disabled>

      </div>
    </div>
</div>

<div class="form-group row">
  <label class="col-sm-3 col-form-label" style=" font-weight: bold"> Entretien :</label>
  <div class="col-sm-9">
      <input class="form-control" type="text" name="name" id="name" [value]="devis.entretien" disabled>

  </div>
</div>

<div class="form-group row">
  <label class="col-sm-3 col-form-label" style=" font-weight: bold">Garantie :</label>
  <div class="col-sm-9">
      <input class="form-control" type="text" name="name" id="name" [value]="devis.garantie" disabled>

  </div>
</div>
<div class="form-group row">
  <label class="col-sm-3 col-form-label" style=" font-weight: bold">Delai de livraison :</label>
  <div class="col-sm-9">
      <input class="form-control" type="text" name="name" id="name" [value]="devis.delaiLivraison" disabled>

  </div>
</div>


<div class="form-group row">
  <label class="col-sm-3 col-form-label" style=" font-weight: bold">Prix de vente en DH :</label>
  <div class="col-sm-9">
      <input class="form-control" type="text" name="name" id="name" [value]="devis.prix" disabled>

  </div>
</div>
<br> <br>
<div class="p-d-flex p-jc-center">
  <button pButton pRipple type="button" (click)="list()"  class="p-button-rounded p-mr-2" ><i class="pi pi-backward"></i>&nbsp; &nbsp; Retourner à la liste des devis</button>


<button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="print()" class="p-button-rounded p-button-warning p-mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>
</div><br><br><br>
