.center-things{
    display: flex;
    justify-content: center;
    align-items: center; 
    background-position:center;
    background-size:contain;
    //background-repeat:no-repeat;
    height:400px ; 
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 40px;
    width: 33.33%;

   

  

}
.center-writing{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
} 
.font-change{
    font-weight: bold;
    font-size: xx-large;
}

.card { 
    cursor: pointer;
} 
.infos-button{
    position:absolute;
     top:0;
      right:0;
}

.responsive {
    width: 100%;
    height: auto;
  }