<div>
<p style="padding: 50px; text-align: center; margin:30px; font-size: 50px;">Les provenances</p>
    </div>
   
            <div class="row">
            
            <mat-card routerLink="/GLV/primary-module/formS/2/{{typeI}}/0" class="center-things card col"
                style="background-image:url('../../assets/Acceuil/CTV.png');">
            </mat-card> 

            <mat-card routerLink="/GLV/primary-module/formS/3/{{typeI}}/0" class="center-things card col"
                style= "background-image:url(https://kleemannlifts.com/sites/default/files/styles/quarter/public/default_images/default_1.png?itok=702lBSbd);">
            </mat-card>
        </div>
        <div class="row" >
           
            <p class="col font-change center-writing">CTV Espagne</p>
            <p class="col font-change center-writing">KLEEMANN Europe</p>
        </div>
