
div.container {
    width: 20%;
    display: inline-block;
    box-shadow: 2px 2px 20px blue;
    border-radius: 5px; 
    margin: 2%;
    

  }

  .image img{
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    
  
   
   }

  div.desc {
  padding: 15px;
  text-align: center;
  font-size: 20px;
}

.main{

    margin: 10%;
   }