<p-toast></p-toast>
<div style="width: 60%; margin: auto;padding-top: 3%;">
    <mat-card class="container-lg border">
        <mat-card-title class="center-card" style="padding: 20px; color: #333D7E; text-decoration:underline">
            Ajouter un Client
        </mat-card-title>
        <br> <br>
        <mat-card-content>
            <form #formClient="ngForm">
            <div class="p-grid p-align-center">
                <div  class="p-col-12">
                    <div class="p-fluid">
                        
                            <div class="p-col" style="font-weight: 500; text-decoration:underline">Informations Client : </div>
                            <div class="p-col">
                                <mat-radio-group [(ngModel)]="client.type" name="typeclient"  aria-label="Select an option">
                                    <div class="p-grid">
                                        <div class="p-col-6">
                                            <mat-radio-button value="Prospect">Prospect</mat-radio-button>
                                        </div>
                                        <div class="p-col-6">
                                            <mat-radio-button value="Client">Client</mat-radio-button>
                                        </div>
                                    </div>
                                </mat-radio-group>
                            </div>


                            <mat-form-field appearance="outline" style="width: 100%;">
                                <mat-label>Nom Client</mat-label>
                                <input matInput [(ngModel)]="client.nom" name="nomClient" required>
                            </mat-form-field>

                    </div>
                </div>
                <div class="p-grid">
                    <div class="p-col-6">

                        <div class="p-col" style="font-weight: 500; text-decoration:underline">
                            Adresse De facturation :
                        </div>
                        <div class="p-col">
                            <mat-form-field appearance="outline" style="width: 100%;">
                                <mat-label>Adresse </mat-label>
                                <textarea matInput [(ngModel)]="client.adresse" name="adresse" placeholder="AdressClient"></textarea>
                            </mat-form-field>

                            
                                    <mat-form-field appearance="outline" style="width: 100%;">
                                        <mat-label>CP</mat-label>
                                        <input matInput [(ngModel)]="client.cp_ville" name="cpClient" required>
                                    </mat-form-field>
                                
                                <!--div class="p-col-6">
                                    <mat-form-field appearance="outline" style="width: 100%;">
                                        <mat-label>Ville</mat-label>
                                        <input matInput [(ngModel)]="client.pays" name="villeClient" required>
                                    </mat-form-field>
                                </div-->
                           



                            <mat-form-field appearance="outline" style="width: 100%;">
                                <mat-label>Pays</mat-label>
                                <input matInput [(ngModel)]="client.pays" name="paysClient" required>
                            </mat-form-field>

                            <mat-form-field appearance="outline" style="width: 100%;">
                                <mat-label>Code ICE</mat-label>
                                <input matInput  [(ngModel)]="client.code_ice" name="iceClient" required>
                            </mat-form-field>

                            <mat-form-field appearance="outline" style="width: 100%;">
                                <mat-label>Code IF</mat-label>
                                <input matInput [(ngModel)]="client.code_if" name="ifClient" required>
                            </mat-form-field>

                        </div>
                    </div>

                    <div class="p-col-6">
                        <div class="p-col" style="font-weight: 500;text-decoration:underline">
                            Information Societé :
                        </div>
                        <div class="p-col">
                            <mat-form-field appearance="outline" style="width: 100%;">
                                <mat-label>Téléphone</mat-label>
                                <input matInput [(ngModel)]="client.telephone" name="telClient" required>
                            </mat-form-field>

                            <mat-form-field appearance="outline" style="width: 100%;">
                                <mat-label>GSM</mat-label>
                                <input matInput [(ngModel)]="client.gsm" name="gsmClient" required>
                            </mat-form-field>
                            <mat-form-field appearance="outline" style="width: 100%;">
                                <mat-label>Fax</mat-label>
                                <input matInput [(ngModel)]="client.fax" name="faxClient" required>
                            </mat-form-field>

                            <mat-form-field appearance="outline" style="width: 100%;">
                                <mat-label>Email</mat-label>
                                <input matInput [(ngModel)]="client.email" name="emailClient" required>
                            </mat-form-field>

                            <mat-form-field appearance="outline" style="width: 100%;">
                                <mat-label>Site Web</mat-label>
                                <input matInput [(ngModel)]="client.site" name="siteClient" required>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="p-col-12">
                    <div class="p-grid">
                        <div class="p-col-12" style="font-weight: 500; text-decoration:underline">
                            Classement :
                        </div>
                        <div class="p-col-6">
                            <mat-form-field appearance="outline" style="width: 98%;">
                                <mat-label>Catégorie</mat-label>
                                <input matInput [(ngModel)]="client.categorie" name="categorieClient" required>
                            </mat-form-field>

                            <mat-form-field appearance="outline" style="width: 98%;">
                                <mat-label>Activité</mat-label>
                                <input matInput [(ngModel)]="client.activite" name="activiteClient" required>
                            </mat-form-field>
                        </div>
                        <div class="p-col-6" style="padding-left: 2%;">
                            <mat-form-field appearance="outline" style="width: 100%;">
                                <mat-label>Origine</mat-label>
                                <input matInput [(ngModel)]="client.origine" name="origineClient" required>
                            </mat-form-field>

                            <mat-form-field appearance="outline" style="width: 100%;">
                                <mat-label>Région</mat-label>
                                <input matInput [(ngModel)]="client.region" name="regionClient" required>
                            </mat-form-field>
                        </div>

                        <mat-form-field appearance="outline" style="width: 100%;">
                            <mat-label>Note</mat-label>
                            <textarea matInput [(ngModel)]="client.note" name="noteClient" required></textarea>
                        </mat-form-field>
                    </div>

                </div>

            </div>
        </form>
        </mat-card-content>
        <mat-card-footer style="text-align:center">
        <button mat-raised-button class="btn-color" (click)="!formClient.invalid && addClient()" [disabled]="formClient.invalid"
        style="margin:7px">{{btnname}}</button>
            <button routerLink="/GLV/primary-module/listClient" color="warn" mat-raised-button>Annuler</button>
        </mat-card-footer>
    </mat-card>

</div>