.center-card{
    // position:absolute;
    // left:50%;
    // top:60%;
    // transform: translate(-50%, -50%);
    width: 80%;
    text-align:center;
    margin: 0 auto;
}
.btn-color{
    background: #007bff;
    color: #fff;
    
}
input[type="number"] {
    -moz-appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 300px;
  }
  
 .form-row .name {
  width: 100px;

  font-size: 15px;
  font-weight: 400px;
}

