<p-toast></p-toast>
<div class="center-card">
  <mat-card class="container-lg border">
    <mat-card-title style="padding: 20px; color: #333D7E;">
      Ajouter une Demande de Devis
    </mat-card-title>
    <mat-card-content>

      <div class="alert alert-warning" *ngIf="formDevis.dirty && formDevis.invalid">Veuillez Renseigner tous les champs
      </div>
      <!-- <div class="alert alert-warning" *ngIf="course.dirty && course.invalid">Course est un champs de type numérique</div>
          <div class="alert alert-warning" *ngIf="hauteur.dirty && hauteur.invalid">Hauteur est un champs de type numérique</div>
          <div class="alert alert-warning" *ngIf="cuvette.dirty && cuvette.invalid">Cuvette est un champs de type numérique</div> -->

          <br>

          <form #formDevis="ngForm">

        <div class="row">
          <mat-form-field appearance="outline" class="col">
            <mat-label>Client</mat-label>
            <select matNativeControl [(ngModel)]="devis.client.id"  name="client" required>
              <option *ngFor="let val of clients" [value]="val.id">{{val.nom}}</option>
            </select>
          </mat-form-field>
          <mat-form-field appearance="outline" class="col">
          
              <mat-label>Client</mat-label>
              <select matNativeControl [(ngModel)]="devis.client.id"  name="client" required>
                <option *ngFor="let val of clients" [value]="val.id">{{val.nom}}</option>
              </select>
            </mat-form-field>

        <mat-form-field appearance="outline" class="col">
          <mat-label>Quantite</mat-label>
          <input type="number" matInput [(ngModel)]="devis.quantite" name="quantite"
                 required>
          </mat-form-field>
        </div>


        <div class="row">
          <mat-form-field appearance="outline" class="col">
            <mat-label>  Largeur gaine</mat-label>
            <input matInput [(ngModel)]="devis.dimensionGaineL" name="dimensionGaineL" required>
          </mat-form-field>
          <mat-form-field appearance="outline" class="col">
            <mat-label> Profendeur gaine </mat-label>
            <input matInput [(ngModel)]="devis.dimensionGaineP" name="dimensionGaineP" required>
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field appearance="outline" class="col">
            <mat-label>Type de gaine</mat-label>
            <mat-select [(ngModel)]="devis.typeGaine" name="typeGaine" required>
              <mat-option *ngFor="let val of TypeGaine" value="{{val}}">{{val}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" class="col">
            <mat-label>Cuvette</mat-label>
            <input type="number" #cuvette matInput [(ngModel)]="devis.cuvette" name="cuvette" required>
          </mat-form-field>
        </div>


        <div class="row">
          <mat-form-field appearance="outline" class="col">
            <mat-label>Nombre d'arrêts</mat-label>
            <select matNativeControl (selectionChange)='getChargeArret()' [(ngModel)]="SelectedArret.id"  name="arret" required>
              <option *ngFor="let val of nbrArret" [value]="val.id">{{val.nbArret}}</option>
            </select>
          </mat-form-field>
          <mat-form-field appearance="outline" class="col">
            <mat-label>Course</mat-label>
            <input type="number" #cuvette matInput [(ngModel)]="devis.course" name="cource" required>
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field appearance="outline" class="col">
            <mat-label>Hauteur sous dalle</mat-label>
            <input type="number" #hauteur matInput [(ngModel)]="devis.hauteurSousDalle" name="hauteurSousDalle"
              required>
          </mat-form-field>
  
          <mat-form-field appearance="outline" class="col">
            <mat-label>Acces Ascenseur</mat-label>
            <mat-select [(ngModel)]="devis.acces" name="acces" required>
              <mat-option *ngFor="let val of AccesA" value="{{val}}">{{val}}</mat-option>
            </mat-select>
          </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field appearance="outline" class="col">
          <mat-label>Nombre d'arrêts</mat-label>
          <select matNativeControl (selectionChange)='getChargeArret()' [(ngModel)]="SelectedArret.id"  name="arret" required>
            <option *ngFor="let val of nbrArret" [value]="val.id">{{val.nbArret}}</option>
          </select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col">
          <mat-label>Vitesse</mat-label>
          <mat-select [(ngModel)]="devis.vitesse" name="vitesse" required>
            <mat-option *ngFor="let val of Vitesse" value="{{val}}">{{val}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field appearance="outline" class="col">
          <mat-label>typeManœuvre</mat-label>
          <mat-select [(ngModel)]="devis.typeManoeuvre" name="typeManoeuvre" required>
            <mat-option *ngFor="let val of TypeManoeuvre" value="{{val}}">{{val}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col">
          <mat-label>Usage</mat-label>
          <mat-select [(ngModel)]="devis.usageAsc" name="usage" required>
            <mat-option *ngFor="let val of Usage" value="{{val}}">{{val}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      
      <div class="row">
        <mat-form-field appearance="outline" class="col">
          <mat-label>Charge Utile</mat-label>
          <select matNativeControl (selectionChange)='getChargeArret()' [(ngModel)]="SelectedCharge.id"  name="chargeUtile" required>
            <option *ngFor="let val of ChargeU" [value]="val.id">{{val.chargeUtile}}</option>
          </select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col">
          <mat-label>Vitesse</mat-label>
          <mat-select [(ngModel)]="devis.vitesse" name="vitesse" required>
            <mat-option *ngFor="let val of Vitesse" value="{{val}}">{{val}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>


      <div class="row">
        <mat-form-field appearance="outline" class="col">
          <mat-label>Type Porte</mat-label>
          <select matNativeControl [(ngModel)]="devis.typePorte.id" name="typePorte"  required>
            <option *ngFor="let val of typePorte" [value]="val.id">{{val.porteCabine}}</option>
          </select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col">
          <mat-label>A ouverture</mat-label>
            <mat-select [(ngModel)]="devis.ouverture" name="ouverture" required>
              <mat-option *ngFor="let val of Ouverture" value="{{val}}">{{val}}</mat-option>
            </mat-select>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field appearance="outline" class="col">
          <mat-label>Finition cabine</mat-label>
          <mat-select [(ngModel)]="devis.finition" name="finition" required>
            <mat-option *ngFor="let val of Finition" value="{{val}}">{{val}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col">
          <mat-label>Modèle cabine</mat-label>
          <select matNativeControl [(ngModel)]="devis.cabine.id"  name="modele" required>
            <option *ngFor="let val of Modele" [value]="val.id">{{val.modelCabine}}</option>
          </select>
        </mat-form-field>
      </div>


      <div class="row">
        <mat-form-field appearance="outline" class="col">
          <mat-label>Largeur PL</mat-label>
          <input [(ngModel)]="devis.chargeArrets.charge.passagePorte"  matInput  name="passagePorte" required>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col">
          <mat-label>Hauteur PL</mat-label>
          <input matInput [(ngModel)]="devis.passage" name="passage" required>
        </mat-form-field>
      </div>


        <div class="row">
          <mat-form-field appearance="outline" class="col">
            <mat-label>Usage</mat-label>
            <mat-select [(ngModel)]="devis.usageAsc" name="usage" required>
              <mat-option *ngFor="let val of Usage" value="{{val}}">{{val}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" class="col">
          <mat-label>A ouverture</mat-label>
            <mat-select [(ngModel)]="devis.ouverture" name="ouverture" required>
              <mat-option *ngFor="let val of Ouverture" value="{{val}}">{{val}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

       

     

        <div class="row">
          <mat-form-field appearance="outline" class="col">
            <mat-label>Type de gaine</mat-label>
            <mat-select [(ngModel)]="devis.typeGaine" name="typeGaine" required>
              <mat-option *ngFor="let val of TypeGaine" value="{{val}}">{{val}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" class="col">
            <mat-label>Miroir</mat-label>
            <mat-select [(ngModel)]="devis.miroir" name="miroir" required>
              <mat-option *ngFor="let val of Miroir" value="{{val}}">{{val}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field appearance="outline" class="col">
            <mat-label>Plafond</mat-label>
            <mat-select [(ngModel)]="devis.plafond" name="plafond" required>
              <mat-option *ngFor="let val of Plafond" value="{{val}}">{{val}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" class="col">
            <mat-label>Sol</mat-label>
            <mat-select [(ngModel)]="devis.sol" name="sol" required>
              <mat-option *ngFor="let val of Sol" value="{{val}}">{{val}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field appearance="outline" class="col">
            <mat-label>Mode Entrainement</mat-label>
            <mat-select [(ngModel)]="devis.modeEntrainement" name="modeEntrainement" #ME
              (selectionChange)='selectLocalM(ME.value)' required>
              <mat-option *ngFor="let val of modeE" value="{{val}}">{{val}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" class="col">
            <mat-label>Local Machinerie</mat-label>
            <mat-select [disabled]="LocalActivated" [(ngModel)]="devis.localMachinerie" name="localMachinerie"
              required>
              <mat-option *ngFor="let val of LocalM" value="{{val}}">{{val}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
   

       
        <div class="row">
          <mat-form-field appearance="outline" class="col">
            <mat-label>Dimension Portes</mat-label>
            <input [(ngModel)]="devis.chargeArrets.charge.passagePorte"  matInput  name="passagePorte" required>
          </mat-form-field>
          <mat-form-field appearance="outline" class="col">
            <mat-label>Dimension Cabine</mat-label>
            <input [(ngModel)]="devis.chargeArrets.charge.dimensionCabine"  matInput  name="dimensionCabine" required>
          </mat-form-field>
        </div>


            <div class="row">
              <mat-form-field appearance="outline" class="col">
                <mat-label>Accessoires</mat-label>
            <mat-select matNativeControl [(ngModel)]="devis.accessoires" name="accessoire" multiple>
              <mat-option *ngFor="let val of Accessoires" [value]="val">{{val.label}}</mat-option>
            </mat-select>
              </mat-form-field>
              <mat-form-field appearance="outline" class="col">
                <mat-label>Délai Livraison Ascenseur</mat-label>
                <input matInput [(ngModel)]="devis.delaiLivraison" name="delaiLivraison" required>
              </mat-form-field>
            </div>

            
            <div class="row">
              <mat-form-field appearance="outline" class="col">
                <mat-label>Entretien Ascenseur</mat-label>
                <mat-select [(ngModel)]="devis.entretien" name="entretien"  required>
                  <mat-option *ngFor="let val of entretiens" [value]="val">{{val}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="outline" class="col">
                <mat-label>Garantie Ascenseur</mat-label>
                <input matInput [(ngModel)]="devis.garantie" name="garantie" required>
              </mat-form-field>
            </div>
      </form>
    </mat-card-content>
    <mat-card-footer style="padding: 20px;">
      <button style="margin:7px" mat-stroked-button (click)="!formDevis.invalid && submit()" class="btn-color">{{btnname}}</button>
      <button routerLink="/GLV/primary-module/listDevis" color="warn" mat-raised-button>Annuler</button>
    </mat-card-footer>
  </mat-card>
</div>
