<mat-form-field appearance="outline" class="col">
  <mat-label>Veuillez Entrez le nouveau prix</mat-label>
  <input matInput [(ngModel)]="prix" name="prix" required>
</mat-form-field>
<div class="p-d-flex p-jc-center">
<button mat-raised-button class="p-mr-2"
        (click)="submit()" color="primary">Valider</button>
<button mat-raised-button  
        (click)="cancel()" color="warn" >Annuler</button>
</div>