@import url('https://unpkg.com/bootstrap@4.1.0/dist/css/bootstrap.min.css');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/*@import '../node_modules/primeng/resources/primeng.min.css';
@import '../node_modules/primeng/resources/themes/bootstrap4-light-blue/theme.css';
@import '../node_modules/primeicons/primeicons.css';*/

html, body { position: relative; height: 100%; margin: 0;padding:0; }
mat-drawer-container { flex: 1 1 auto; }
mat-drawer-container, mat-drawer-content { display: block; height: 100%; }
main { height: 100%; overflow-y: auto; }
.center-divs{
  margin-top: 180px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
