@import '~@angular/material/theming';
@include mat-core();
$glv-app-primary: mat-palette($mat-blue);
$glv-app-accent:  mat-palette($mat-yellow, A200, A100, A400);
$glv-app-warn:    mat-palette($mat-orange);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as `color` or `typography`.
$glv-app-theme: mat-light-theme((
  color: (
    primary: $glv-app-primary,
    accent: $glv-app-accent,
    warn: $glv-app-warn,  
  )
));


