
                <div class="row pv-lg">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        <form class="form-horizontal ng-pristine ng-valid">
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label" style=" font-weight: bold" >Nom complet:</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="text" name="name" id="name" [value]="client.nom" disabled>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label" style=" font-weight: bold">Type:</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="text" name="name" id="name" [value]="client.type" disabled>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label" style=" font-weight: bold">Adresse:</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="text" name="name" id="name" [value]="client.adresse" disabled>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label" style=" font-weight: bold">Code postal:</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="text" name="name" id="name" [value]="client.cp_ville" disabled>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label" style=" font-weight: bold" >Pays:</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="text" name="name" id="name" [value]="client.pays" disabled>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label" style=" font-weight: bold">Code ICE:</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="text" name="name" id="name" [value]="client.code_ice" disabled>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label" style=" font-weight: bold">Code IF:</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="text" name="name" id="name" [value]="client.code_if" disabled>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"style=" font-weight: bold" >GSM:</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="text" name="name" id="name" [value]="client.gsm" disabled>
                                </div>
                            </div> 
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label" style=" font-weight: bold" >Telephone:</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="text" name="name" id="name" [value]="client.telephone" disabled>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label" style=" font-weight: bold">Email:</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="text" name="name" id="name" [value]="client.email" disabled>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 control-label" for="inputContact2" style=" font-weight: bold">Fax:</label>
                                <div class="col-sm-10">
                                    <input class="form-control" id="inputContact2" type="email" [value]="client.fax" disabled>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 control-label" for="inputContact3" style=" font-weight: bold">Site:</label>
                                <div class="col-sm-10">
                                    <input class="form-control" id="inputContact3" type="text"[value]="client.site" disabled>
                                </div>
                            </div>
                           

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label" style=" font-weight: bold">Activitée:</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="text" name="name" id="name" [value]="client.activite" disabled>
                                </div>
                            </div>
                            

                            
                            <div class="form-group row">
                                <label class="col-sm-2 control-label" for="inputContact5" style=" font-weight: bold">Categorie:</label>
                                <div class="col-sm-10">
                                    <input class="form-control" id="inputContact5" type="text" [value]="client.categorie" disabled>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 control-label" for="inputContact7" style=" font-weight: bold">Origine:</label>
                                <div class="col-sm-10">
                                    <input class="form-control" id="inputContact7" type="text" [value]="client.origine" disabled>
                                </div>
                            </div>
                           
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label" style=" font-weight: bold">Région:</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="text" name="name" id="name" [value]="client.region" disabled>
                                    
                                </div>
                            </div>

                            
                            <div class="form-group row">
                                <label class="col-sm-2 control-label" for="inputContact6" style=" font-weight: bold">Note:</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" id="inputContact6" row="4" [value]="client.note" disabled></textarea>
                                </div>
                            </div>
            
                                <div  class="p-d-flex p-jc-center">
                                    <button pButton pRipple type="button" (click)="list()" class="p-button-rounded" ><i class="pi pi-backward"></i>&nbsp; &nbsp; Retourner à la liste des clients</button>
                          
                                </div>
                          
                        </form>
                    
                            </div><br><br><br>